// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2022 Rockchip Electronics Co., Ltd.
 * Copyright (c) 2024 Radxa Limited
 *
 */

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/rk-input.h>
#include <dt-bindings/pinctrl/rockchip.h>
#include "rk3528.dtsi"
#include "rk3528-linux.dtsi"

/ {
	model = "Ixon xRouter";
	compatible ="rockchip,rk3528-ixon-xrouter", "rockchip,rk3528a";

	/delete-node/ chosen;

	aliases {
		mmc0 = &sdhci;
		mmc1 = &sdmmc;
		ethernet0 = &gmac1;
		ethernet1 = &gmac0;
	};

	vcc5v0_sys: vcc5v0-sys {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
	};

	vdd_0v9_s3: vdd-0v9-s3 {
		compatible = "regulator-fixed";
		regulator-name = "vdd_0v9_s3";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <900000>;
		regulator-max-microvolt = <900000>;
		vin-supply = <&vcc5v0_sys>;
	};

	vcc_3v3_s3: vcc-3v3-s3 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_3v3_s3";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vcc5v0_sys>;
	};

	vdd_1v8_s3: vdd-1v8-s3 {
		compatible = "regulator-fixed";
		regulator-name = "vdd_1v8_s3";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&vcc_3v3_s3>;
	};

	vcc_ddr_s3: vcc-ddr-s3 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_ddr_s3";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1200000>;
		regulator-max-microvolt = <1200000>;
		vin-supply = <&vcc5v0_sys>;
	};

	vcc5v0_host: vcc5v0-host-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_host";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		enable-active-high;
		gpio = <&gpio4 RK_PC2 GPIO_ACTIVE_HIGH>;
		vin-supply = <&vcc5v0_sys>;
		pinctrl-names = "default";
		pinctrl-0 = <&vcc5v0_host_en>;
	};

	vcc5v0_otg: vcc5v0-otg-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_otg";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
	};

	vdd_cpu: vdd-cpu {
		compatible = "pwm-regulator";
		pwms = <&pwm1 0 256 1>;
		regulator-name = "vdd_cpu";
		regulator-min-microvolt = <746000>;
		regulator-max-microvolt = <1201000>;
		regulator-init-microvolt = <953000>;
		regulator-always-on;
		regulator-boot-on;
		regulator-settling-time-up-us = <250>;
		pwm-supply = <&vcc5v0_sys>;
		status = "okay";
	};

	vccio_sd: vccio-sd {
		compatible = "regulator-gpio";
		regulator-name = "vccio_sd";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <3300000>;
		gpios = <&gpio4 RK_PB6 GPIO_ACTIVE_HIGH>;
		vin-supply = <&vcc5v0_sys>;
		states = <1800000 0x0
			  3300000 0x1>;
	};

	vcc3v8_bat: vcc3v8-bat-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v8_bat";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <3800000>;
		regulator-max-microvolt = <3800000>;
		enable-active-high;
		gpio = <&gpio3 RK_PB3 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&vcc3v8_en>;
	};

	vcc_sd: vcc-sd {
		compatible = "regulator-fixed";
		regulator-name = "vcc_sd";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vcc_3v3_s3>;
	};

	lcd_bl: lcd-bl {
        	compatible = "regulator-fixed";
		regulator-name = "lcd_bl";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <7500000>;
		regulator-max-microvolt = <7500000>;
		enable-active-high;
        	gpios = <&gpio3 RK_PB2 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&lcd_bl_pins>;
    	};

	gpio-keys {
		compatible = "gpio-keys";
		pinctrl-names = "default";
		pinctrl-0 = <&user_key>;
		autorepeat;

		user-key {
			label = "KEY F15";
			linux,code = <KEY_F15>;
			gpios = <&gpio4 RK_PB1 GPIO_ACTIVE_LOW>;
			debounce-interval = <100>;
		};
	};

	led-controller {
		compatible = "pwm-leds";
		led-1 {
			label = "ot_red_led";
			pwms = <&pwm6 0 256 0>;
			max-brightness = <100>;
			default-brightness = <0>;
		};
		led-2 {
			label = "ot_blue_led";
			pwms = <&pwm5 0 256 0>;
			max-brightness = <100>;
			default-brightness = <0>;
		};
		led-3 {
			label = "pwr_red_led";
			pwms = <&pwm4 0 256 0>;
			max-brightness = <100>;
			default-brightness = <100>;
		};
		led-4 {
			label = "pwr_blue_led";
			pwms = <&pwm0 0 256 0>;
			max-brightness = <100>;
			default-brightness = <0>;
		};
	};
};

&pwm1 {
	status = "disabled";
};

// red OT LED
&pwm6 {
	status = "okay";
	pinctrl-0 = <&pwm6m0_pins>;
};

// green OT LED
&pwm5 {
	status = "okay";
	pinctrl-0 = <&pwm5m0_pins>;
};

// green PWR LED
&pwm4 {
	status = "okay";
	pinctrl-0 = <&pwm4m0_pins>;
};

// red PWR LED
&pwm0 {
	status = "okay";
	pinctrl-0 = <&pwm0m0_pins>;
};

&cpu0 {
	cpu-supply = <&vdd_cpu>;
};

&crypto {
	status = "okay";
};

&dfi {
	status = "okay";
};

&dmc {
	status = "okay";
};

&gpu {
	status = "disabled";
};

&gpu_bus {
	status = "disabled";
};

&display_subsystem {
	status = "disabled";
};

&iep {
	status = "disabled";
};

&iep_mmu {
	status = "disabled";
};

&jpegd {
	status = "disabled";
};

&jpegd_mmu {
	status = "disabled";
};

&mpp_srv {
	status = "disabled";
};

&rga2 {
	status = "disabled";
};

&rga2_mmu {
	status = "disabled";
};

&rkvdec {
	status = "disabled";
};

&rkvdec_mmu {
	status = "disabled";
};

&rkvenc {
	status = "disabled";
};

&rkvenc_mmu {
	status = "disabled";
};

&rkvtunnel {
	status = "off";
};

&rockchip_suspend {
	status = "okay";
	rockchip,sleep-debug-en = <1>;
	rockchip,virtual-poweroff = <1>;
	rockchip,sleep-mode-config = <
		(0
		| RKPM_SLP_ARMPD
		)
	>;
	rockchip,wakeup-config = <
		(0
		| RKPM_CPU0_WKUP_EN
		| RKPM_GPIO_WKUP_EN
		)
	>;
	rockchip,pwm-regulator-config = <
		(0
		| RKPM_PWM0_M0_REGULATOR_EN
		| RKPM_PWM1_M0_REGULATOR_EN
		)
	>;
};

&vdpp {
	status = "okay";
};

&vdpu {
	status = "okay";
};

&vdpu_mmu {
	status = "okay";
};

&vop {
	status = "okay";
};

&vop_mmu {
	status = "okay";
};

&tsadc {
	status = "okay";
};

&saradc {
	status = "okay";
	vref-supply = <&vdd_1v8_s3>;
};

&avsd {
	status = "okay";
};

&sdhci {
	bus-width = <8>;
	no-sd;
	no-sdio;
	non-removable;
	mmc-hs400-1_8v;
	mmc-hs400-enhanced-strobe;
	max-frequency = <200000000>;
	status = "okay";
};

&sdmmc {
	bus-width = <4>;
	cap-mmc-highspeed;
	cap-sd-highspeed;
	disable-wp;
	max-frequency = <150000000>;
	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc_clk &sdmmc_cmd &sdmmc_det &sdmmc_bus4>;
	rockchip,default-sample-phase = <90>;
	supports-sd;
	sd-uhs-sdr12;
	sd-uhs-sdr25;
	sd-uhs-sdr50;
	sd-uhs-sdr104;
	vqmmc-supply = <&vccio_sd>;
	vmmc-supply = <&vcc_sd>;
	status = "okay";
};

&gmac0 {
	status = "disabled";
};

&gmac1 {
	status = "okay";
	snps,reset-gpio = <&gpio4 RK_PB4 GPIO_ACTIVE_LOW>;
	snps,reset-active-low;
	/* Reset time is 20ms, 100ms for rtl8211f */
	snps,reset-delays-us = <0 20000 100000>;

	pinctrl-names = "default";
	pinctrl-0 = <&rgmii_miim
		     &rgmii_tx_bus2
		     &rgmii_rx_bus2
		     &rgmii_rgmii_clk
		     &rgmii_rgmii_bus>;

	clock_in_out = "output";
	phy-mode = "rgmii";
	tx_delay = <0x4f>;
	rx_delay = <0x0f>;

	fixed-link {
		speed = <1000>;
		full-duplex;
		pause;
	};
};

&mdio1 {
	#address-cells = <1>;
	#size-cells = <0>;

	mt7530: switch@1f {
		compatible = "mediatek,mt7531";
		reg = <0x1f>;
		#address-cells = <1>;
		#size-cells = <0>;
		interrupt-controller;
		interrupt-parent = <&gpio1>;
		interrupts = <RK_PB2 IRQ_TYPE_LEVEL_HIGH>;
		// reset-gpios = <&gpio4 RK_PB4 GPIO_ACTIVE_HIGH>;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				label = "wan";
			};

			port@1 {
				reg = <1>;
				label = "lan4";
			};

			port@2 {
				reg = <2>;
				label = "lan3";
			};

			port@3 {
				reg = <3>;
				label = "lan2";
			};

			port@4 {
				reg = <4>;
				label = "lan1";
			};

			port@5 {
				reg = <5>;
				label = "cpu";
				ethernet = <&gmac1>;
				phy-mode = "rgmii";

				fixed-link {
					speed = <1000>;
					full-duplex;
				};
			};
		};
	};
};

&spi1 {
	status = "okay";
	max-freq = <24000000>;
	pinctrl-0 = <&spi1_pins &spi1_csn0>;

	ssd1306_spi: oled@0 {
		compatible = "sitronix,st7315"; /*"solomon,ssd1306"; */
		reg = <0x0>;
		spi-max-frequency = <5000000>;
		buswidth = <0x8>;
		spi-cpha;
        	spi-cpol;

		/* Required GPIO pins */
		dc-gpios = <&gpio1 RK_PA4 GPIO_ACTIVE_HIGH>;     /* Data/Command pin */
		reset-gpios = <&gpio1 RK_PA5 GPIO_ACTIVE_LOW>;  /* Reset pin */
	};
};

&combphy_pu {
	status = "okay";
};

&u2phy_host {
	phy-supply = <&vcc5v0_host>;
	status = "okay";
};

&u2phy_otg {
	vbus-supply = <&vcc5v0_otg>;
	status = "okay";
};

&usb2phy {
	status = "okay";
};

&usb_host0_ehci {
	status = "okay";
};

&usb_host0_ohci {
	status = "okay";
};

&usbdrd30 {
	status = "okay";
};

&usbdrd_dwc3 {
	extcon = <&usb2phy>;
	phys = <&u2phy_otg>;
	phy-names = "usb2-phy";
	maximum-speed = "high-speed";
	snps,dis_u2_susphy_quirk;
	snps,usb2-lpm-disable;
	status = "okay";
};

&pcie2x1 {
	status = "okay";
	pinctrl-0 = <&pciem1_pins>;
	pinctrl-1 = <&wlanen_pins>;
	reset-gpios = <&gpio3 RK_PC3 GPIO_ACTIVE_HIGH>;
};

&i2c0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c0m1_xfer>;

	tpm@2e {
		compatible = "infineon,slb9673","tcg,tpm-tis-i2c" ;
		reg = <0x2e>;
		pinctrl-names = "default";
		pinctrl-0 = <&slb9673_gpio>;
		status = "okay";
	};
	rv3028@52 {
		status = "okay";
		compatible = "microcrystal,rv3028";
		reg = <0x52>;
		backup-switchover-mode = <0x01>;
		trickle-resistor-ohms = <3000>;
	};
	touchscreen@15 {
		compatible = "hynitron,cst816s";
		reg = <0x15>;
		pinctrl-0 = <&touch_panel_gpio>;
		interrupt-parent = <&gpio1>;	//Parent of interrupt.
		interrupts = <RK_PC3 IRQ_TYPE_EDGE_RISING>;	//Configuration of touch panel  interrupt controller.
		reset-gpios = <&gpio1 RK_PA6 GPIO_ACTIVE_LOW>;
      };
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart1m0_xfer &uart1_ctsn &uart1_rtsn>;
	status = "okay";
	bluetooth {
		compatible = "qcom,qca6174-bt";
		firmware-name = "nvm_00440302.bin";
		pinctrl-names = "default";
		pinctrl-0 = <&ble_pins>;
		enable-gpios = <&gpio3 RK_PB4 GPIO_ACTIVE_HIGH>;
		device-wake-gpios = <&gpio3 RK_PC1  GPIO_ACTIVE_HIGH>; /* PL5 */
		host-wakeup-gpios = <&gpio1 RK_PB3  GPIO_ACTIVE_HIGH>; /* PL6 */
	};
};

&pinctrl {
	usb {
		vcc5v0_host_en: vcc5v0-host-en {
			rockchip,pins = <4 RK_PC2 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	lte {
		vcc3v8_en: vcc3v8-en {
			rockchip,pins = <3 RK_PB3 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	ble {
		ble_pins: ble-pins {
			rockchip,pins = <3 RK_PB4 RK_FUNC_GPIO &pcfg_pull_up>, // BLE EN
					<3 RK_PC1 RK_FUNC_GPIO &pcfg_pull_none>, // BT_DEV_WAKE
					<1 RK_PB3 RK_FUNC_GPIO &pcfg_pull_none>; // BT_HOST_WAKE
		};
	};

	keys {
		user_key: user-key {
			rockchip,pins = <4 RK_PB1 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	lcd {
		display_pins: lcd-pins {
			rockchip,pins = <1 RK_PA5 RK_FUNC_GPIO &pcfg_pull_none>, //Reset
			 		<1 RK_PA4 RK_FUNC_GPIO &pcfg_pull_none>; //DnC
		};
		lcd_bl_pins: lcd-bl-pins {
			rockchip,pins = <3 RK_PB2 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	slb9673 {
		slb9673_gpio: slb9673-gpio{
			rockchip,pins =
			/*TPM_RST*/
			<4 RK_PA3 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	switch1{
		switch1_gpio: switch1-gpio {
			rockchip,pins =
				<4 RK_PB4 RK_FUNC_GPIO &pcfg_pull_none>,
				<1 RK_PB2 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	pcie {
		wlanen_pins: wlanen_pins {
			rockchip,pins =
				<3 RK_PC3 RK_FUNC_GPIO &pcfg_pull_up>; /* wlan_en */
		};
	};

	touchscreen {
		touch_panel_gpio: touch_panel_gpio{
			rockchip,pins =
			<1  RK_PA6 RK_FUNC_GPIO &pcfg_pull_up>, //Reset pin should have external 10 kOmh resistor.
			<1  RK_PC3 RK_FUNC_GPIO &pcfg_pull_up>;	//Interupt pin
		};
	};
};
